/*
 * FEC Components
 *
 **/

@function convert-fec-units($size) {
  @return $size * 62.5%;

}

.t-sans {
  font-family: $sans-serif;
  letter-spacing: -.3px;
}

.t-serif {
  font-family: $serif;
}


.fec-main-head.main-head {
  // Consider using @extends .disclaimer
  .fec-disclaimer.disclaimer {
    color: $primary;
    font-size: 12px;
    padding: 5px 20px;
  }

  .masthead {
    padding: 19px 20px 0 0;

    .site-title {
      height: 80px;
    }

  }

}

.list--flat li {
  margin-right: 10px;
}

.site-nav {
  padding-left: 20px;
}
.site-nav__item {
  margin: 0;
}
.site-nav__link {
  font-size: 16px;
  padding: 20px;
  line-height: 20px;
}

.utility-nav {
  padding: 5.5px 0;

}

.regulations .utility-nav {
  @extend .utility-nav;
}

.utility-nav__item {
  margin-top: 0;
  padding: 0 20px;
}
